<div class="container">
    <div class="centered-text">
        <p class="title1">טיול ברגע</p>
        <br>
        <p class="title2">לנצל את המקומות היפים</p>
        <br>
        <p class="title3">עם שירות שמעמיד אותך במרכז. הדרך הקלה והאיכותית ביותר</p>
        <p class="title3">לעבור מהמשרד לסיפון היאכטה</p>
        <p class="title3">ולהישען לאחור...</p>
        
        <br>
        <button class="btn" (click)="openMe()">בואו נצא לטיול</button>
    </div>
</div>

<app-about id="about"></app-about>
